/* Import Poppins - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --clr-bkg: #141414;
  --clr-white: #fdfdfd;
  --clr-gray: #686868;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: var(--clr-bkg);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.563em;
}

button {
  padding: .625em 1.375em;
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Button 1 */
.button1 {
  color: var(--clr-gray);
  background: linear-gradient(135deg,#2ffd14, #01e3ef, #fcf23b, #c23bfc);
}

.button1:hover {
  color: var(--clr-gray);
  background: linear-gradient(135deg,  #fcf23b, #c23bfc,#01e3ef,#2ffd14);
  transition-delay: .1s;
}

/* Button 2 */
.button2 {
  color: var(--clr-white);
  background: linear-gradient(135deg, #0144ef,  #c23bfc);
  border-radius: .75em;
}

.button2:hover {
  color: var(--clr-white);
  background: radial-gradient(ellipse farthest-side at left top,#ecc1ff,#c23bfc, #0144ef);
  transition-delay: .1s; 
}

/* Button 3 */
.button3 { 
  color: var(--clr-gray);
  background: linear-gradient(#90fc82, #72f3fa, #faf595, #e3adfa);
  border-radius: 1.5em;
}

.button3:hover {
  color: var(--clr-white);
  background: linear-gradient(#129b00, #01b6c0, #a19900, #b812ff);
  transition-delay: .1s;
}

/* Button 4 */
.button4 {
  color: var(--clr-white);
  background: linear-gradient(135deg, #00288f, #5886fa);
  border-radius: .625em 6.25em / 7.5em;
}

.button4:hover {
  color: var(--clr-white);
  background: radial-gradient(ellipse farthest-side at left top, #00288f 50%, #5886fa);
  transition-delay: .1s; 
}

/* Button 5 */
.button5 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: var(--clr-gray);
  background: linear-gradient(135deg, #2ffd14, #01e3ef 5%, #fcf23b, #c23bfc);
  font-size: .015em;
}

.button5:hover {
  color: #343333;
  transition-delay: .1s;
  background: radial-gradient(#fcf23b 10%, #c23bfc, #01e3ef, #2ffd14);
  transform: rotate(360deg);
}